<html>
	
	<head>
		
		<title></title>

	</head>

	<body>

		<div style="position:absolute;left:20px;top:10px;">

		<u><b><h3>Prototype PDF generation & Email.</h3></u></b><br>
		PDF will be generated and emailed.<br><br>

		<form action="/submit" method="post">

			<p>Title:
			<input type="text" name="pdf_title" width='200' size='50'/>
			</p>
			
			<p>
			Message:
			<input type="text" name="pdf_text" width='200' size='50'/>
			</p>

			<p>Email:
			<input type="text" name="pdf_email" width='200' size='50'/> <-- enter the email you want to recieve the pdf from.
			</p>

			<p>
			<input type="submit" value="Submit"> 
			</p>

	    </form>

	    </div>

	</body>

</html>